<h2>Lista de Categorias</h2>
<hr>
<<<<<<< HEAD
<a href="/admin/categorias/add"> <button class="btn btn-success">Nova Categoria</button> </a>

{{#each categorias}}

    <div class="card">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data: {{date}}</small><br><br>
            <a href='/admin/categorias/edit/{{_id}}' <button class='btn btn-success mt-2'>Editar Categoria </button></a>  
            
            <form action="/admin/categorias/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">  
                <button class='btn btn-danger mt-2'>Deletar Categoria </button>
            </form>
        </div>
        
    </div>

{{else}}
    
    <h4 class="mt-3" value="0">Não existe nenhuma Categoria Cadastrada</h4> 
=======
<a href="/admin/categorias/add"> <button class="btn btn-success">Nova Categoria.</button> </a>

{{#each categorias}}

    <div class="card mt4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small>
            <h6>Data: {{date}}</h6>
        </div>
    </div>
{{else}}

>>>>>>> 6518171125fe319c9545e2cbec0650a52d21b972

{{/each}}