<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Blog!</h1>
  <p class="lead">Este é um simples Projeto desenvolvido por min, Silvio Marçal utilizando NodeJS com mongodb e bootstrap, com obejtivo  de estudo e aperfeiçoamento de programação.</p>
  
  <hr class="my-4">
  <p>Assim como outros projetos o Fonte deste projeto pode ser baixado diretamento no meu github /marcalgyn/blog</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>
<h2>Postagens Recente</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
                <h3>{{titulo}}</h3>
                <p> {{descricao}}</p>
                <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button> </a>
                <hr>
                <small>Categoria:{{categoria.nome}}</small>
                <small>Data Publicação: {{data}}</small>

        </div>

    </div>
{{else}}
  <h5>Não existe postagem</h5>
{{/each}}

